<div id="banner-top" class="fixed-top">
    <div id="sarsport-logo-text">
        <a href="{{ path('DefaultBundle_homepage') }}">
            {% image '@DefaultBundle/Resources/public/images/xcm-logo-text.png'%}
            <img border="0" title="{{ 'brand.name'|trans }}" alt="{{ 'brand.name'|trans }}" src="{{ asset_url }}"/>
            {% endimage %}
        </a>
    </div>
</div>
