{% extends "::base.html.twig" %}
{% block sub_title %}. Контактная информация{% endblock %}
{% block content %}
<h1>Контактная информация</h1>
<dl>
    <dt>Организатор, главный судья</dt>
    <dd>Аверьянов Алексей, т.(88452) 588-348, ф. 47-000-1, <a href="mailto:aaver@yandex.ru">aaver[@]yandex.ru</a> </dd>

    <dt>Главный секретарь</dt>
    <dd>Ермолова Ольга, с. 89271180909, <a href="mailto:sergej-ermolov@yandex.ru">sergej-ermolov[@]yandex.ru</a></dd>

    <dt>Технический консультант</dt>
    <dd>Челмадеев Павел aka chpv, с. 89271035264, ICQ: 319061311, Skype: pavel.v.chelmadeev, <a href="http://vk.com/chelpv">VK</a>, <a href="http://www.facebook.com/chelpv">FB</a></dd>

    <dt>разработка/поддержка сайта</dt>
    <dd>Петров Дмитрий aka fightmaster, Skype: old_fightmaster, <a href="mailto:fightmaster@mail.ru">fightmaster[@]mail.ru</a></dd>

    <dt>Представитель в Вольске</dt>
    <dd>Анзиряев Виктор Петрович (89271417328)</dd>
    <dt>Представитель в Балаково</dt>
    <dd></dd>
    <dt>Представитель в Самаре</dt>
    <dd>Пащенко Дмитрий aka talliks, с. 89171406700, ICQ: 593717496, <a href="http://vk.com/pashchenkodmitry">VK</a></dd>
    <dt>Представитель в Тольятти</dt>
    <dd></dd>
    <dt>Представитель в Пензе</dt>
    <dd></dd>
    <dt>Представитель в Ульяновске</dt>
    <dd></dd>
    <dt>Представитель в Воглограде</dt>
    <dd></dd>
</dl>
{% endblock %}
