{% extends "::base.html.twig" %}
{% block sub_title %}. Положение{% endblock %}
{% block content %}
        <h1>ПОЛОЖЕНИЕ</h1>
        <h2>Велофестиваль «МАТЧ ГОРОДОВ ПОВОЛЖЬЯ» при поддержке GIANT</h2>
        <h3>(двух дневная лично-командная, кросс-кантрийная велогонка с прологом, протяженностью 100 км.)</h3>
        <h3>1. Цели и задачи.</h3>
            <p>Популяризация и развитие любительского и профессионального велоспорта. Вовлечение населения в регулярные занятия спортом в условиях природной среды. Пропаганда здорового образа жизни. Повышения туристической привлекательности Национального Парка и города-курорта Хвалынск. Краеведческая информация о красивейших местах Саратовской области, малых городах и селах области. Привлечение внимания СМИ к вопросам здорового и активного образа жизни.</p>
        <h3>2. Время и место проведения, размещение участников.</h3>
            <p>Велофестиваль проводится 10-11 мая 2013 года в Саратовской области по территории национального Парка и города-курорта Хвалынск . Центр соревнований –  горнолыжный курорт «Хвалынский». Размещение команд - гостиницы, дома отдыха, частный сектор г.Хвалынска, возможно размещение в полевых условиях (палаточный лагерь). Центр соревнований — горнолыжный курорт.  Среднестатистическая температура воздуха на период гонки днем 15-25°С, ночью 6-14°С.</p>
        <h3>3. Программа.</h3>
            <ul>
                <li>10 (Пт.) Заезд, размещение участников, регистрация.
                    <ul>
                        <li>9:00 – 11:00 – регистрация участников;</li>
                        <li>12:00 – 14:00 – Старт пролога;</li>
                        <li>17:00 — 19:00 — Развлекательная программа фестиваля, мини соревнования  на велосипедах «Самый быстрый», «Самый медленный», «Царь горы» и др;</li>
                        <li>20:00 — Награждение за мини-старты, лотерея среди всех участников.</li>
                    </ul>
                </li>
                <li>
                    11 (Вс.)
                    <ul>
                        <li>9:00 — старт  МТБ марафона с гандикапом (по времени проигрыша в 1 день);</li>
                        <li>17:00 – Окончание контрольного времени МТБ-марафона;</li>
                        <li>18:00 – Награждение, закрытие соревнований.</li>
                    </ul>
                </li>
            </ul>
        <h3>4. Организаторы</h3>
            <p>Организатор –  ООО «СпортМир», гл.судья – Аверьянов А. Главный секретарь — Ермолова О.</p>
            <p>Официальный сайт марафона – <a href="http://xcm.sarsport.ru">xcm.sarsport.ru</a></p>
        <h3>5. Участники соревнований, возрастные группы.</h3>
            <p>Соревнования являются открытыми и принять участие в них может любой желающий, достигший 18 лет (для детей возможно участие только совместно с родителями и под их ответственностью).</p>
            <p>Возрастные группы:</p>
            <ul>
                <li>МЮ - юниоры (год рождения 1995-1991);</li>
                <li>МЭ - мужчины элита (1990 и старше);</li>
                <li>МВ - мужчины ветераны (1968 и старше);</li>
                <li>ЖЮ - юниорки (год рождения 1995-1991);</li>
                <li>ЖЭ - женщины элита (1990 и старше);</li>
                <li>ЖВ - женщины ветераны (1968 и старше);</li>
            </ul>
            <p>Категории:</p>
            <ul>
                <li>Спорт — основные группы которые участвуют в обще командном зачете, в которых выявляются сильнейшие спортсмены и проводится награждение.</li>
                <li>Туризм (одна группа) - данная группа НЕ является соревновательной, награждение в ней производится жеребьевкой среди всех финиширующих участников.</li>
            </ul>
            <p><strong>Регистрация на участие подтверждает следующее: участники команды знают о состоянии собственного физического здоровья и знают пределы индивидуальных нагрузок.. Участники осознают потенциальные риски и угрозы, связанные с участием в данных соревнованиях и лично несут ответственность за свою жизнь и здоровье во время гонки, что подтверждают распиской об участии в соревновании.  Участники обязаны иметь комплект оговоренного необходимого снаряжения.</strong></p>
            <p><strong>Организаторы оставляют за собой право остановить участника на дистанции, если физическое состояние участника вызывает серьёзные опасения и может нанести ущерб его здоровью.</strong></p>
            <p><strong>Организаторы не эвакуируют сошедших с дистанции участников, кроме крайних случаев, требующих незамедлительной госпитализации.</strong></p>
        <h3>6. Параметры, описание маршрута.</h3>
        <h4>1 день. Пролог. 15 км., набор высоты 380м.</h4>
            <p>Старт и финиш разнесены. Пунктов питания нет.</p>
            <p>Расстояние до старта от центра соревнований: 5 км. Расстояние от финиша до центра соревнований: 8 км.</p>
            <p>Старт участников, по мере готовности,  осуществляется самостоятельно в указанный промежуток времени со стартовой станции, в порядке живой очереди. Промежуток между стартующими не менее 30 сек. Между участниками одного города не менее 1 мин.</p>
            <p>Маршрут: первая часть дистанции (75%) - асфальт с основным набором высоты, вторая часть (25%) - извилистые лесные дороги, немного троп и бездорожья. Спусков практически нет.</p>
            <p>Пунктов питания нет. Перед стартом участники могут сдать свои личные вещи, одним местом объемом не более 30 литров и весом не более 2 кг., которые будут доставлены на финиш. «Заброска» должна быть с номером участника.</p>
            <p>Предполагаемое время лидеров 35 — 40 мин.</p>
        <h4>2 день. МТБ-марафон. 85 км., набор высоты 1,3 км. Для группы «Туризм» - 55 км., набор высоты 900м.</h4>
            <p>Старт и финиш в центре соревнований.</p>
            <p>Старт участников по проигрышу в первый день (первым стартует лидер пролога, второй - через интервал времени, проигранный в первый день и т. д.). Участники с проигрышем в первый день более 45 мин. стартуют с общего старта, все вместе.</p>
            <p>Старт категории «Туризм» в 10:00.</p>
            <p>Маршрут: асфальт (около 40%), полевые дороги (30%), лесные дороги (25%), бездорожье (5%). В это время года возможен высокий уровень воды, которая делает часть лесных и полевых дорог сложно проезжаемыми. На маршруте постоянно чередуются тяжелые и легкие участки, спуски и подъемы разной крутизны и сложности. Основная дистанция имеет форму «восьмерки», с точкой пересечения на 35 и 65 км. Лимит времени для прохождения первой части маршрута — 3 часа 15 мин. (после 13:00 все участники будут направлены по укороченному маршруту общей длиной в 55 км. с переводом в категорию «Туризм»).</p>
            <p>Пункт питания (вода, сухофрукты, бананы) на 35 и 65 км. Участники могут сдать свои напитки, еду, вещи, одним местом объемом не более 30 литров и весом не более 2 кг. «Заброска» принимается до начала старта и должна быть подписана (номер участника).</p>
            <p>Предполагаемое время лидеров 3,5 — 4,5 часа (в зависимости от погодных условий).</p>
        <h3>7. Порядок проведения, дополнительные условия</h3>
            <p>Весь маршрут соревнований будет размечен (стрелки на асфальте, указатели, сигнальная лента). Будет применяться электронная система отметки (SFR), с помощью которой будет вестись хронометраж и контроль прохождения маршрута. Старт (1 день, пролог) и финиш будет производится участниками самостоятельно на станциях электронной отметки. По ходу маршрута будут устанавливаться промежуточные станции (для предотвращения сокращения трассы).</p>
            <p>Участники до старта, самостоятельно крепят ЧИП электронной отметки на запястье руки, выданной при регистрации контрольной лентой. Отметка на электронной станции (стартовая, промежуточная, финишная) происходит в бесконтактном режиме, для этого надо поднести ЧИП на 1-5 см. к станции. При удачной отметке (время срабатывания 0,1-0,3 сек.) Вы услышите звуковой сигнал и увидите как мигнет светодиод. Станции отметки будут устанавливаться в достаточном количестве (не менее 2-х) на высоте 1,5-1,6 м., для отметки не потребуется слазить с велосипеда.</p>
            <p>Проверка крепления ЧИПа и его очистка будет проводится судьями перед стартом каждого дня.</p>
            <p>Лидерам (участникам, на усмотрение судей) во второй день будет устанавливаться GPS треккеры для ОНЛАЙН трансляции.</p>
        <h3>8. Обязательное и рекомендуемое снаряжение.</h3>
            <ul>
                <li>- велосипед, должен быть в исправном техническом состоянии, оборудован тормозами на оба колеса, адаптирован для участия в соревнованиях, со скоростями или без скоростей, приводимый в движение только мускульной силой (фирма, тип и модель не имеет значения);</li>
                <li>защитный шлем;</li>
                <li>задний красный фонарь (не светоотражатель!!!);</li>
                <li>заряженный сотовый телефон "большой тройки" (и не нулевым балансом), с внесенным в память телефона номером организатора;</li>
            </ul>
            <h4>Рекомендуемое снаряжение, одежда</h4>
                <ul>
                    <li>аптечка: бинт, стерильная салфетка, перекись водорода, лейкопластырь, обезболивающие;</li>
                    <li>велоаптечка, запасная велокамера;</li>
                    <li><strong>длинная форма одежды (в районе много ядовитых змей, активных в этот период времени)</strong>;</li>
                    <li>велокомпьютер, запас воды, запас питания, запас сменной одежды, в том числе теплой и ветро- водонепроницаемой;</li>
                </ul>
        <h3>9. Определение результатов</h3>
            <p>Общекомандный зачет подводится только в абсолютном зачете по мужской и женской группам. Победителем считается город, участники которого набрали наибольшую сумму очков.</p>
            <p>Таблица начисления очков для командного зачета:</p>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Место</th>
                    <th>Очки</th>
                    <th>Место</th>
                    <th>Очки</th>
                    <th>Место</th>
                    <th>Очки</th>
                    <th>Место</th>
                    <th>Очки</th>
                    <th>Место</th>
                    <th>Очки</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>40</td>
                    <td>7</td>
                    <td>24</td>
                    <td>13</td>
                    <td>18</td>
                    <td>19</td>
                    <td>12</td>
                    <td>25</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>35</td>
                    <td>8</td>
                    <td>23</td>
                    <td>14</td>
                    <td>17</td>
                    <td>20</td>
                    <td>11</td>
                    <td>26</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>32</td>
                    <td>9</td>
                    <td>22</td>
                    <td>15</td>
                    <td>16</td>
                    <td>21</td>
                    <td>10</td>
                    <td>27</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>30</td>
                    <td>10</td>
                    <td>21</td>
                    <td>16</td>
                    <td>15</td>
                    <td>22</td>
                    <td>9</td>
                    <td>28</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>28</td>
                    <td>11</td>
                    <td>20</td>
                    <td>17</td>
                    <td>14</td>
                    <td>23</td>
                    <td>8</td>
                    <td>29</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>26</td>
                    <td>12</td>
                    <td>19</td>
                    <td>18</td>
                    <td>13</td>
                    <td>24</td>
                    <td>7</td>
                    <td>30 и ниже</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td colspan=12>Снятые, сошедшие участники очков не несут.</td>
                </tr>
            </table>
        <h3>10. Награждение</h3>
            <p>Развлекательная программа фестиваля (мини соревнования «Самый быстрый», «Самый медленный», «Царь горы» и др.) согласно регламентов этих стартов.</p>
            <p>Лотерея среди всех участников соревнований — ВЕЛОСИПЕД GIANT (согласовывается со спонсором).</p>
            <h4>Категория СПОРТ</h4>
            <p>Победители и призеры награждаются грамотами, медалями и призами. Команда победитель в абсолютном зачете  – переходящим кубком. Организатор (по возможности) наградит и за 4-6 места.</p>
            <h4>Категория ТУРИЗМ</h4>
            <p>В данной категории призы не разыгрываются. По результатам гонки, во время награждения, среди всех закончивших участников будет проведена лотерея с розыгрышем призов (10 участников).</p>
        <h3>11. Финансовые условия и заявка.</h3>
            <p>ОНЛАЙН заявки принимаются до 4 мая на сайте <a href="http://xcm.sarsport.ru">xcm.sarsport.ru</a>, по электронной почте (только в случае проблем с он-лайн заявкой): olga.oler@yandex.ru. При заявке необходимо сообщить следующую информацию по каждому участнику: город, фамилия, имя, дата рождения, формат соревнования, телефон для связи. Заявка на месте соревнований возможно только при наличии свободных мест.</p>
            <p>Принадлежность к городу необходимо подтвердить официальным документом о прописке (в момент регистрации), при отсутствии подтверждающих документов участие возможно только лично.</p>
            <p>Возраст необходимо подтвердить официальным документом в момент регистрации.</p>
            <p>Организатор оставляет за собой право отказать в приёме Заявки на участие без объяснения причин.</p>
            <p>Целевой (заявочный) взнос с каждого участника:</p>
                <ul>
                    <li>500 руб. с каждого участника;</li>
                    <li>При оплате до 10 апреля - скидка 40% (300 руб.);</li>
                    <li>Заявочные взносы не возвращаются!</li>
                    <li>При отсутствии предварительной заявки, оплате в момент регистрации — 800 руб.</li>
                </ul>

            <h4>Способы оплаты</h4>
                <ul>
                    <li>Он-лайн оплата на сайте соревнований: <a href="http://xcm.sarsport.ru">xcm.sarsport.ru</a>;</li>
                    <li>Саратов: в экипировочном центре «СпортМир» (ул.5-я Дачная, 9В с 11:00 до 19:00, кроме Вс., Пн.);</li>
                    <li>Вольск: Анзиряев Виктор Петрович (89271417328)</li>
                    <li>Балаково</li>
                    <li>Самара</li>
                    <li>Тольятти</li>
                    <li>Пенза</li>
                    <li>Ульяновск</li>
                    <li>Воглоград</li>
                </ul>

            <p>Участники не имеющие собственного ЧИПа электронной отметки (SFR) могут приобрести его у организаторов – 200 руб., ЧИП после старта можно вернуть организаторам за 100 руб. (при отсутствии механических повреждений), таким образом стоимость аренды составит 100 руб.</p>
            <p>Размещение в палаточном лагере (до 300 человек) на территории горнолыжного курорта — 100 руб. за все дни соревнований. (Обустроенная, охраняемая территория, туалеты, вода, центр соревнований).</p>
            <p>Размещение в стационарных корпусах и коттеджах современного горнолыжного курорта «Хвалынский» (до 200 человек). В это время года цены весьма умеренные. Сайт курорта: <a href="http://hvalin.ru/"></a></p>
            <p>Все заявившиеся участники обеспечиваются: номером участника (влагостойкий, для крепления на руль велосипеда, номера на шлем, личные вещи), контрольной лентой для крепления ЧИПа электронной отметки, сувенирной продукцией мероприятия — наклейки, магнит (значок) и др. Организаторы обеспечивают работу пункта питания на трассе во второй день соревнований (сухофрукты, бананы, напитки).</p>
            <p>Количество участников ограничено — 500 человек.</p>
            <p>Организатор оставляет за собой право отказать в приёме Заявки на участие без объяснения причин.</p>
            <p>Расходы по командированию (проезд, питание, размещение, заявочный взнос) участников соревнований за счет командирующих организаций и личных средств спортсменов.</p>

        <h2>ДАННОЕ ПОЛОЖЕНИЕ ЯВЛЯЕТСЯ ВЫЗОВОМ НА СОРЕВНОВАНИЯ</h2>
{% endblock %}
