{% extends "::base.html.twig" %}
{% block sub_title %}. Результаты{% endblock %}
{% block content %}
    <h3>1 день</h3>
    <ul>
        <li><a href="/files/rez1.htm" target="_blank">Результаты</a></li>
        <li><a href="/files/split1.htm" target="_blank">Сплиты</a></li>
    </ul>
    <h3>2 день</h3>
    <ul>
        <li><a href="/files/rez2.htm" target="_blank">Результаты</a></li>
        <li><a href="/files/split2.htm" target="_blank">Сплиты</a></li>
    </ul>
{% endblock %}
